player-connection-mode=Listen
player-connection-guid=1348307585
player-connection-debug=0
player-connection-project-name=CatStairs
player-connection-ip=192.168.5.203
player-connection-ip=192.168.55.1
player-connection-ip=192.168.112.1
player-connection-ip=192.168.137.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5cc791212042469ca74c45aa820739f7
